<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Apolon</title>
    <link rel="stylesheet" href="../assets/styles/styles.css">
</head>
<body>
    <div class="app">
        <!-- В блок .content выводить всю инфу -->
        <div class="content"></div>
    </div>
    <script src="../js/global.js"></script>
    <script src="../js/render/cpu.js"></script>
    <script src="../js/render/hdd.js"></script>
    <script src="../js/render/disks.js"></script>
    <script src="../js/render/bios.js"></script>
</body>
</html>