body {
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 100%;
}

div.conteiner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.conteiner div.navigation {
  min-width: 200px;
  background: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

div.conteiner div.navigation div.logo {
  padding-left: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #262930;
}

div.conteiner div.navigation div.logo img {
  display: inline-block;
}

div.conteiner div.navigation div.logo h1 {
  display: inline-block;
  margin: 0;
  font-size: 1.5em;
  font-weight: 100;
  margin-left: 8px;
  color: #1CA8DD;
}

div.conteiner div.navigation nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.conteiner div.navigation nav ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.4;
  padding: 15px 0px 15px 25px;
  border-bottom: 1px solid black;
}

div.conteiner div.navigation nav ul li:hover {
  opacity: 1;
  cursor: pointer;
}

div.conteiner div.navigation nav ul li img {
  display: inline-block;
  width: 24px;
}

div.conteiner div.navigation nav ul li span {
  margin-left: 5px;
  font-size: 1.1em;
  font-weight: 600;
  font-family: 'century gothic';
}

div.conteiner div.content-space {
  width: 100%;
  background: whitesmoke;
  background: #2F323A;
  padding: 25px;
  padding-top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.conteiner div.content-space header {
  width: calc(100% + 25px);
  margin-left: -25px;
  padding-bottom: 15px;
  padding-top: 13px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  background: #2F323A;
  padding-left: 25px;
}

div.conteiner div.content-space header h5 {
  color: white;
  margin: 0;
  line-height: 34px;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.8px;
}

div.conteiner div.content-space div.content section.welc-wrapper {
  position: absolute;
  top: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 40%;
  background: radial-gradient(25% 35%, #C5E2E7, #2F323A);
}

div.conteiner div.content-space div.content section.welc-wrapper div.main {
  text-align: center;
  text-shadow: 0 0 1px black;
}

div.conteiner div.content-space div.content section.welc-wrapper div.main .welc {
  color: whitesmoke;
}

div.conteiner div.content-space div.content section.welc-wrapper div.main h1.welc {
  font-size: 2em;
}

div.conteiner div.content-space div.content section.welc-wrapper div.main p.welc {
  font-size: 1.5em;
}

div.conteiner div.content-space div.content section.welc-wrapper div.main p.welc span {
  display: block;
  margin-bottom: 10px;
  font-weight: 100;
}

div.conteiner div.content-space div.content section.welc-wrapper div.main small.welc {
  display: block;
  margin-top: 50px;
}

div.conteiner div.content-space div.content section.welc-wrapper div.main span.name {
  font-weight: 600;
}

div.conteiner div.content-space div.content section.welc-wrapper div.year {
  text-align: center;
  margin-top: 100px;
}

div.conteiner div.content-space div.content section.welc-wrapper div.year span {
  color: gray;
}

div.conteiner div.content-space div.content span.data_element {
  margin-bottom: 5px;
  display: block;
  color: #9FA6B7;
  font-size: 1.1em;
  max-width: 500px;
}

div.conteiner div.content-space div.content span.data_element span {
  margin-left: 5px;
}

div.conteiner div.content-space div.content div.graph-wrapper {
  position: absolute;
  right: 25px;
  top: 64px;
}

div.conteiner div.content-space div.content div.graph-wrapper canvas {
  margin-bottom: 50px;
}

div.conteiner div.content-space div.content div.graph-wrapper canvas:hover {
  cursor: pointer;
}

div.conteiner div.content-space div.content div.keysData {
  width: 100%;
}

div.conteiner div.content-space div.content div.keysData span.keyUnit {
  color: #1CA8DD;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.1em;
}

div.conteiner div.content-space div.content section.process_section {
  padding: 10px;
  outline: 2px solid #262930;
  margin-top: 25px;
  background: #32353D;
}

div.conteiner div.content-space div.content section.addDoc, div.conteiner div.content-space div.content section.updateDoc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.conteiner div.content-space div.content section.addDoc p, div.conteiner div.content-space div.content section.updateDoc p {
  margin-top: 25%;
  font-weight: 600;
  font-size: 1.5em;
}

div.conteiner div.content-space div.content section.addDoc {
  color: #1CA8DD;
}

div.conteiner div.content-space div.content section.updateDoc {
  color: #FFDD68;
}
/*# sourceMappingURL=styles.css.map */