body,html
    margin: 0
    padding: 0
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
    height: 100%
div.conteiner
    width: 100%
    height: 100%
    display: flex
    div.navigation
        position: sticky
        top: 0
        min-width: 200px
        background: #F8F8F8
        display: flex
        flex-direction: column
        justify-content: flex-start
        height: 100vh
        div.logo
            padding-left: 25px
            padding-bottom: 15px
            padding-top: 15px
            display: flex
            align-items: center
            background: #262930
            img
                display: inline-block
            h1
                display: inline-block
                margin: 0
                font-size: 1.5em
                font-weight: 100
                margin-left: 8px
                color: #1CA8DD
        nav
            ul
                width: 100%
                height: 100%
                margin: 0
                padding: 0
                display: flex
                flex-direction: column
                li
                    list-style-type: none
                    display: flex
                    align-items: center
                    opacity: 0.4
                    padding: 15px 0px 15px 25px
                    border-bottom: 1px solid black
                    &:hover
                        opacity: 1
                        cursor: pointer 
                    img
                        display: inline-block
                        width: 24px
                    span
                        margin-left: 5px
                        font-size: 1.1em
                        font-weight: 600
                        font-family: 'century gothic'
    div.content-space
        width: 100%
        height: 100%
        padding: 25px
        padding-top: 0
        box-sizing: border-box
        background-color: #2F323A
        header
            padding-bottom: 15px
            padding-top: 15px
            h5
                color: white  
                margin: 0 
                line-height: 34px
                font-size: 1.2em
                font-weight: 100
                letter-spacing: 0.8px
        div.content
            span.data_element
                margin-bottom: 5px
                display: block
                color: #9FA6B7
                font-size: 1.1em
                max-width: 500px
                span
                    margin-left: 5px
            div.graph-wrapper
                position: absolute
                right: 25px
                top: 64px
                canvas
                    margin-bottom: 50px
                    &:hover
                        cursor: pointer
            div.keysData
                width: 100%
                span.keyUnit
                    color: #1CA8DD
                    display: block
                    margin-bottom: 5px
                    font-weight: bold
                    font-size: 1.1em


